
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/*font-family: 'Young Serif', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
/* font-family: 'Outfit', sans-serif; */

:root {
  /* Primary */
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);

  /* Neutra */

  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsla(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: .8rem;
  background: var(--Eggshell);
  max-width: 1440px;
  height: 100vh;
  display: grid;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  color: var(--Wenge-Brown);
  line-height: 1.3;
}

.p {
  color: var(--Wenge-Brown);
}

span {
 font-weight: bold;
 color: var(--Wenge-Brown);
}

.titulo {
  font-family: 'Young Serif', serif;
  color: var(--Nutmeg);
  font-size: 1.4rem;
  font-weight: 400;
}

.container {
  width: 37rem;
  background: var(--White);
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 15px;
}

.container img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 7px;
}

.container h1 {
  margin-top: 1.5rem;
  color: black; 
  font-size: 2rem;
}

.container p {
  margin-top: 1rem;
}

.container-preparar {
  max-width: 100%;
  margin-top: 2rem ;
  background: var(--Rose-White);
  padding: 1rem 2rem;
  line-height: 2;
}

.container-preparar h2 {
  color: var(--Dark-Raspberry);
  font-size: 1rem;
}

.container-preparar ul li {
  list-style: none;
}

.container-preparar ul li:before {
  content: '•';
  margin: 0 0.3rem;
  color: var(--Dark-Raspberry);
  font-weight: 600;
  letter-spacing: 17px;
}

.ingrediente {
  margin-top: 1rem;
}

.ingrediente li {
  margin-top: .7rem;
  list-style: none;
}

.ingrediente ul li:before {
  content: '•';
  margin: 0 0.3rem;
  color: var(--Nutmeg);
  font-weight: 600;
  letter-spacing: 12px;
}

.instrucao {
  margin: .7rem 0 .7rem 0;
}
.instrucao::before {
  background-color: var(--Light-Grey);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  width: 100%;
  margin: 1rem;
}

.instrucao ol {
  margin: 1rem 0 .5rem 2rem;
}

.instrucao li::marker  {
    color: var(--Brandy-Red, #854632);
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: 4px;
}

.nutricao::before {
  background-color: var(--Light-Grey);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  width: 100%;
  margin: 1rem;
}

.espaco {
  background-color: var(--Light-Grey);
  content: "";
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1px;
  width: 100%;
  margin: 2rem 1.5rem;
}

.espaco span {
  color: var(--Brandy-Red, #854632);
}

.no {
  height: 0px;
}

.attribution {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 400px) {

      .container {
      max-width: 100vw;
      border-radius: 0;
      margin: 0;
      padding: 0;
      font-size: 1rem;
    }

    .container img {
      border-radius: 0;
    }

    .titulo {
      margin: 0rem 2rem 0 2rem;
    }

    .container p {
      margin: 1rem 2rem 0 2rem;
    }

    .ingrediente ul li {
      margin: 0.5rem 2rem 0 2rem;
    }

    .instrucao ol li {
      margin: 0.5rem 2rem 0 2rem;
    }

    .nutricao {
      margin: 0rem 2rem 0 2rem;
    }

    .container-nutricao p{
      margin: 2.5rem 2rem;
      text-align: start;
    }
  
}
