* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

.font-1 {
  font-weight: 700;
  font-size: 3.375rem;
}

.font-2 {
  font-size: 1.094rem;
  font-weight: 400;
}

.font-3 {
  font-size: 1.125rem;
  font-weight: 500;
}

.font-4 {
  font-size: 1.094rem;
  font-weight: 700;
}

body {
  display: grid;
  place-content: center;
}

.container {
  display: grid;
  height: 100vh;
  max-width: 1440px;
  place-content: center;
}

.container-avaliacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.usuarios {
  padding: 20px 100px;
}

.avaliacao {
  padding: 20px 80px;
}

.user-titulo {
  color: var(--Very-Dark-Magenta);
  max-width: 12ch;
}

.user-texto {
  color: var(--Dark-Grayish-Magenta);
  padding-top: 30px;
  line-height: 1.3;
  max-width: 42ch;
}

.avaliacao {
  line-height: 4;
  color: var(--Very-Dark-Magenta);
}

.posicao-2 {
  padding-left: 50px;
}

.posicao-3 {
  padding-left: 100px;
}

.espaco {
  padding-right: 30px;
}

.posicao-1 > img {
  margin-right: 5px;
}

.posicao-2 > img {
  margin-right: 5px;
}

.posicao-3 > img {
  margin-right: 5px;
}

.comentarios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 100px;
  gap: 30px;
}

.comentarios div > img {
  border-radius: 50%;
  height: 40px;
  margin-right: 20px;
}

.cubo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 350px;
  height: 235px;
  background-color: var(--Very-Dark-Magenta);
  border-radius: 10px;
  padding: 27px;
}

.comentarios div > p {
  line-height: 1.1;
  color: var(--Light-Grayish-Magenta);
}

.cor-1 {
  color: var(--White);
}

.cor-2 {
  color: var(--Soft-Pink);
}

.margin-1 {
  margin-top: 15px;
}

.margin-2 {
  margin-top: 30px;
}

.footer {
  text-align: center;
  color: var(--Soft-Pink);
  font-size: 1.3rem;
  line-height: 1.3;
  padding-top: 60px;
}

.footer a:hover {
  color: var(--Dark-Grayish-Magenta);
  font-size: 1.5rem;
}

