/*
font-family: "Inter", sans-serif; - Weights: 400, 700
 font-family: "Lexend Deca", sans-serif; - Weights: 400
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary  */

  --Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --Soft-violet-accent: hsl(277, 64%, 61%);


  /*  ### Neutral  */

  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  font-size: 0.938rem;
  display: grid;
  background: var(--Very-dark-blue-main-background);
  max-width: 1440px;
  height: 100vh;
  place-content: center;
  
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--Dark-desaturated-blue-card-background);
  width: 1080px;
  height: 446px;
  border-radius: 10px;
  
}

.img {
  border-radius: 0px 10px 10px 0;
  max-width: 100%;
}

.container-img{
  position: relative;
}

.container-img::after {
  content: '';
  width: 100%;
  height: 99%;
  left: 0;
  top: 0;
  border-radius: 0px 10px 10px 0;
  background:hsl(277, 64%, 61%);
  opacity: .5;
  position: absolute;
}

.container-conteudo{
  width: 380px;
  height: 300px;
  margin-left: 60px;
}

.titulo {
  font-size: 2.1rem;
  font-family: "Inter", sans-serif;
  color: var(--White-main-heading-stats);
  padding-top: 80px;
}

.span {
  color: var(--Soft-violet-accent);
}

.conteudo {
  color: var(--Slightly-transparent-white-main-paragraph);
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  line-height: 1.7rem;
}

.valores {
  display: flex;
  margin-top: 80px;
  gap: 70px;
}

.numeros {
  color: var(--White-main-heading-stats);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem; 
}

.textos {
  color: var(--Slightly-transparent-white-stat-headings);
  font-family: "Lexend Deca", sans-serif; 
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 1.5rem;
}

.footer {
  text-align: center;
  color: var(--White-main-heading-stats);
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  line-height: 1.5rem;
}

.footer a {
  color: var(--Soft-violet-accent);
}

.footer a:hover {
  color: var(--Slightly-transparent-white-main-paragraph);
}


/* w330 h780*/

@media (max-width:400px) {

  body{
    text-align: center;
  background: var(--Very-dark-blue-main-background);
  padding-top: 180px;
  height: 100vh;
  margin-top: 180px;
  }
  
  .container {
    width: 330px;
    height: 780px;
    color: var(--Dark-desaturated-blue-card-background);
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    
  }
  
  .img {
    border-radius: 10px 10px 0 0;
    order: -1;    
  }

  .container-img::after {
    content: '';
    width: 100%;
    height: 98.7%;
    left: 0;
    top: 0;
    border-radius: 10px 10px 0 0;
    background:hsl(277, 64%, 61%);
    opacity: .5;
    position: absolute;
  }

  .container-conteudo {
    margin: 0 auto;
    width: 280px;  
    padding-bottom: 530px;
  }

  .titulo {
    font-size: 1.7rem;
    padding-top: 40px ;
  }

  .conteudo {
    font-size: 1rem;
  }

  .valores {
    display: grid;
    gap: 20px;
    margin-top: 50px;
  }

}