* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

img {
  display: block;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: var(--Violet);
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

/* LOGO-WD */

.logo-wd {
  margin: 0 auto;
  padding-top: 65px;
  padding-left: 60px;
}

.logo {
  max-width: 210px;
}

/* container */

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 1100px;
}

/* container-img */

.container-img {
  margin: 0 auto;
  padding: 80px 20px 0 60px;
}

/* container-conteudo */

.container-conteudo {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin: 0 auto;
  padding: 120px 35px 0px 0px;
  flex: 1 1 360px;
}

/* Titulo */

.titulo {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}

/* texto */

.texto {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.125rem;
  color: rgb(233, 229, 229);
  flex: 1 1 340px;
}

/* Botão */

.botao {
  width: 200px;
  height: 55px;
  border: none;
  color: var(--Violet);
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  margin-bottom: 110px;
}

.botao:hover {
  background: var(--Soft-Magenta);
  color: white;
  cursor: pointer;
}

/* icones */

.container-icons {
  display: flex;
  max-width: 1200px;
  justify-content: end;
}

.icons {
  display: flex;
  max-width: 45px;
  gap: 20px;
  color: white;
  cursor: pointer;
}

.facebook:hover {
  background: var(--Soft-Magenta);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.twitter:hover {
  background: var(--Soft-Magenta);
  font: bold;
  width: 50px;
  height: 45px;
  border-radius: 10px;
}

.instagram:hover {
  background: var(--Soft-Magenta);
  width: 50px;
  height: 45px;
  border-radius: 13px;
}

/* footer */

.footer {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  padding-top: 10px;
  line-height: 1.5;
}

.footer a {
  color: var(--Soft-Magenta);
}

.footer a:hover {
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 400px) {
  body {
    transform: rotate(45dec);
  }

  .logo {
    max-width: 150px;
  }

  .layout {
    margin-bottom: -30px;
  }

  .container {
  }

  .titulo {
    text-align: center;
    font-size: 1.7rem;
    margin-left: 2rem;
  }

  .texto {
    text-align: center;
    padding-top: 20px;
    margin-left: 30px;
    font-size: 1.1rem;
  }

  .botao {
    margin-left: 90px;
    margin-top: 30px;
    height: 45px;
    font-size: 1rem;
    margin-bottom: 60px;
  }

  .container-icons {
    max-width: 320px;
    justify-content: center;
    padding-right: 50px;
    margin-bottom: 30px;
  }

  .icons {
    max-width: 30px;
  }

}
