:root {
  /*### Primary*/

--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

/*  ### Neutral  */
 
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  /*Weights: 500, 700, 900*/
}

body {
  max-width: 1440px;
  height: 100vh;
  display: grid;
  place-content: center;
  background: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--Pale-blue);
  font-size: 1rem;
}

.container {
  width: 400px;
  height: 620px;
  background: var(--Very-pale-blue);
  border-radius: 20px;
}

.img-cont {
  width: 100%;
  border-radius: 20px 20px 0 0px;
}

.container-conteudo {
  display: grid;
  margin: 35px 50px;
  text-align: center;
}

.titulo {
  font-weight: 900;
  color: var(--Dark-blue);
  padding-bottom: 20px;
}

.conteudo {
  color: var(--Desaturated-blue);
  font-weight: 500;
  line-height: 1.5rem;
}

.container-plano {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
}

.valor-plano {
  padding-right: 60px;
  color: var(--Desaturated-blue);
  font-weight: 500;
}

.valor-plano h4 {
  color: var(--Dark-blue);
  font-weight: 900;
}

.change {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--Bright-blue);
}

.change:hover {
  text-decoration: none;
  color: hsl(245, 86%, 66%);
}

.pagamento {
  text-align: center;
  color: white;
  text-decoration: none;
  background: var(--Bright-blue);
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 0.8rem;
  box-shadow:  0 10px 10px rgba(114, 128, 167, 0.5);
}

.pagamento:hover {
 background: hsl(245, 86%, 66%);
}

.cancelar {
  padding-top: 30px;
  text-decoration: none;
  font-weight: 900;
  color: var(--Desaturated-blue);
}

.cancelar:hover {
  color: var(--Dark-blue);
}

.attribution {
  text-align: center;
  padding-top: 20px;
}

.attribution a:hover {
  text-decoration: none;
  color: var(--Dark-blue);
  font-weight: 900;
}

@media (max-width:400px) {

.titulo {
  font-size: 1.4rem;
}

.container {
  width: 330px;
  height: 570px;
  margin-top: 20px;
}

.container-conteudo {
  display: grid;
  margin: 35px 30px;
  text-align: center;
}

.titulo {
  margin-top: -10px;
}

.conteudo {
  font-size: 0.95rem;
}

.valor-plano {
  padding-right: 40px;
}

.cancelar {
  font-size: 0.9rem;
}

}