/*font-family: 'Outfit', sans-serif;
Weights: 300, 400, 600 */

:root {

  /*  ### Primary */ 

--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

 /*  ### Neutral  */

--Very-dark-blue-main-BG: hsl(217, 54%, 11%);
--Very-dark-blue-card-BG: hsl(216, 50%, 16%);
--Very-dark-blue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Outfit", sans-serif;
  width: 1440px;
  height: 100vh;
  height: 0 auto;
  background: var(--Very-dark-blue-main-BG);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
}

/*  ESTILO DA MAIN */

.container {
  width: 350px;
  height: 600px;
  background: var(--Very-dark-blue-card-BG);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: var(--Soft-blue);
  padding: 1.5rem;
}

/*  IMG  */

.cubo-container {
  border-radius: inherit; 
  position: relative;
}

.cubo-container::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 98.5%;
  left: 0;
  background-color: hsl(178, 100%, 50%);
  pointer-events: none; 
  opacity: 0; 
  transition: 250ms;
}

.cubo-container:hover::after {
  opacity: .5;
}

.olho {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  pointer-events: none;
  opacity: 0; 
  transition: 250ms;
}

.cubo-container:hover > .olho {
  opacity: 1;
}

.cubo {
  width: 100%;
  border-radius: 10px;
}

.cubo:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.titulo {
  color: var(--White);
 padding-top: 22px;
  font-size: 1.375rem;
}

.titulo:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.conteudo {
  padding-top: 22px;
  line-height: 1.7rem;
  font-weight: 300;
}

.container-icones {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  border-bottom: 1px solid var(--Very-dark-blue-line);
  padding-bottom: 22px;
}

.icone-1 {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--Cyan);
}

.icone-1 img {
  padding-right: 7px;
}

.icone-2 {
  display: flex;
  align-items: center;
  font-weight: 300;
}

.icone-2 img {
  padding-right: 7px;
}


.container-avatar {
  display: flex;
  gap: 15px;
  font-weight: 300;
  padding-top: 22px;
  align-items: center;
}


.avatar {
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
}

span {
  color: var(--White);
}

.span:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.attribution {
  text-align: center;
  color: var(--White);
  padding-top: 10px;
}

.attribution a:hover {
  color: var(--Cyan);
  cursor: pointer;
}

@media (max-width:400px) {
  
   .container {
    width: 330px;
    height: 580px;
  }

  .cubo {
    width: 100%;
    border-radius: 10px;
  }
}