/*font-family: 'Fraunces', serif; 700
font-family: 'Montserrat', sans-serif; 500 700*/

/* CORES */

:root {
  /* Primary*/
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
/* Neutral*/
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

/*      RESET       */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*    BODY MODIFICAÇÃO     background: var(--Cream);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */

body {
  background: var(--Cream);
  min-height: 100vh;
  height: 100%;
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  background: var(--White);
  border-radius: 10px;
  width: 90vw;
  grid-template-columns: 1fr 1.5;
}

